{% extends 'base.html' %}
{% block content %}
<h1>TODO LIST - DJANGO</h1>
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <table class="table table-hover table-borderless">
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Is Done?</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
        </tr>
        {% if not form.instance.id %}
            <tr>
                {% include 'save.html' %}
            </tr>
        {% endif %}
    {% for todo in todos %}
        <tr>
            {% if form.instance.id == todo.id %}
                {% include 'save.html' %}
            {% else %}
                <td>{{ todo.task }}</td>
                <td>{% if todo.done %}Yes{% else %}No{% endif %}</td>
                <td>{{ todo.date }}</td>
                <td>
                    <button class="btn btn-success" formnovalidate name="edit" value="{{ todo.id }}">Edit</button>
                    <button class="btn btn-danger" formnovalidate name="delete" value="{{ todo.id }}">Delete</button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
</form>

<!-- <a href="{% url 'about' %}">Go About</a> -->
{% endblock %}